/* main.css */

.center1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    padding: 2rem;
    border-radius: 5px;
    width: 300px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    margin-top: 1rem;
  }
  


  /* ////    login ////// */


  .center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  a {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #4caf50;
    text-decoration: none;
  }
  


  /* //// admin-approvel /////// */



  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.center3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

#users {
    width: 80%;
    border-collapse: collapse;
}

#users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover {
    background-color: #ddd;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}